.questions-section {
  .header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 80px;

    .search {
      display: flex;
      align-items: center;

      input {
        font-size: 20px;
        padding: 10px;
        border: none;
        outline: none;
        box-shadow: 0 0 5px white;
        border-radius: 5px;
        background-color: transparent;
        color: white;
        width: 600px;
      }

      button {
        margin: 0 10px;
        background-color: transparent;
        border: none;
        outline: none;
        border-radius: 50%;
        padding: 10px;
        box-shadow: 0 0 5px white;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover {
          background-color: rgb(5, 66, 157);
        }
      }
    }

    .ask {
      font-size: 25px;
      color: white;
      background-color: rgb(5, 66, 157);
      padding: 10px 20px;
      border-radius: 5px;
      text-decoration: none;
      box-shadow: 2px 2px 10px rgb(56, 107, 247);
      font-weight: bold;
    }
  }

  .display {
    margin-top: 30px;

    .question {
      width: 70vw;
      margin: 10px auto;
      display: flex;
      align-items: center;
      padding: 10px;
      box-shadow: 0 0 5px rgb(56, 107, 247);
      border-radius: 5px;

      .user-image {
        border: 2px solid white;
        margin-right: 15px;
        border-radius: 50%;
        margin-bottom: auto;
      }

      .middle {
        display: flex;
        flex-direction: column;

        .name {
          font-weight: bold;
          color: rgb(5, 66, 157);
          font-size: 20px;
        }

        .title {
          font-size: 30px;
          color: rgb(215, 215, 215);
          margin: 10px 0;
          text-decoration: none;
        }

        .tags {
          display: flex;
          align-items: center;
          flex-wrap: wrap;

          .tag {
            font-size: 18px;
            background-color: rgb(60, 127, 182);
            margin: 5px;
            padding: 5px 10px;
            border-radius: 5px;
            color: rgb(0, 247, 255);
          }
        }
      }

      .info {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: auto;
        font-size: 18px;
        color: rgb(201, 198, 198);
        min-width: 10%;

        .count {
          color: rgb(0, 200, 255);
          font-weight: bold;
        }

        .date {
          display: flex;
          align-items: center;

          img {
            margin-right: 5px;
          }
        }
      }
    }
  }
}
