* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(3, 15, 28);
  color: white;
  font-family: "Roboto", sans-serif;
}

@import "./index.scss";
@import "./navbar.scss";
