* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(3, 15, 28);
  color: white;
  font-family: "Roboto", sans-serif;
}

#main {
  // height: 100vh;
}

@import "./index.scss";
@import "./navbar.scss";
@import "./chat.scss";
@import "./popup/findUser.scss";
@import "./questions/questions.scss";
